# Build output
dist/

# Test coverage
coverage/

# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.suo
*.user

.env
.env.local

# Vitepress cache
docs/.vitepress/cache/